.ant-layout-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 300px auto;

    h2 {
        margin: 0;
    }

    .ant-menu {
        display: initial;
        text-align: end;
        height: 4rem;
        vertical-align: top;

        li {

            .ant-menu-title-content {
                a {
                    font-weight: bold;
                }
            }
        }

        .ant-menu-item-selected {
            background-color: #1a1a1a !important;
        }
    }
}

.ant-menu-submenu {
    .ant-menu {
        background-color: #2b2b2b !important;

        .ant-menu-item-selected {
            background-color: #1a1a1a !important;
        }
    }
}