.ant-collapse {
    width: 100%;
    border: none;

    &-item {
        .collapse-header {
            padding: .5rem !important;
            font-weight: bold;
        }
    }

    &-content-box {
        padding: 0 !important;

        ul {
            margin: 0;

            li {
                margin: .5rem 0;
                display: flex;

                button {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.chapter {
    margin: 2rem 0;
    border-top: 1px dashed white;
}

.deck-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
    margin-top: 2rem;

    .deck-title {
        margin-top: 0;
    }
}