.student-data-content {
    padding: 20px;
}

.ant-collapse-content {
    background: #1a1a1a !important;
}

.decks-details {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.deck-chart {
    text-align: center;
}